<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="icon" type="image/png" href="/public/paper_img/favicon.1.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta charset=UTF-8>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
	<title>Dadock::다독</title>
</head>
<body class="index-page sidebar-collapse" style="overflow-x: hidden; padding: 0,80px,0,80px">
<header th:insert="headerNav"></header>
<!--   <div class="tim-container" style="padding: 80px; background: #FFEFD6;">
    <div class="container">
      <h2>소설</h2>
      <div class="row" style="align-items: baseline;">
        <div class="col">
          <form method="get" role="searchbox" action="./list/search">
            <input type="search" class="form-control" placeholder="도서 검색" name="text">
         	<button class="btn btn-warning btn-round" type="submit" style="font-size: 16px;">검색</button>
          </form>
        </div>
      </div>
    </div>
  </div> -->

<div class="m-4">
<hr>
<div class="title">
	<div class="row" style="align-items: start;">
		<div>
			<h5>상세정보 > 작별인사 (김영하 장편소설)</h5>
		</div>
		<div class="col-10 col-md-3 justify-content-center">
			<div>
				<img src="https://shopping-phinf.pstatic.net/main_3243817/32438177755.20220527030344.jpg" alt="작별인사 (김영하 장편소설)" style="width: 100%;">
			</div>
			<div type="button"style="text-align: center;">
				내 서재 담기
				<i class="bi bi-box2-heart-fill"></i>
			</div>
		</div>
		<br>
		<div class="col-md-6">
			<div class="accordion" id="accordionPanelsStayOpenExample">
			  <div class="accordion-item">
			    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
			      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
			        책 정보
			      </button>
			    </h2>
			    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
			      <div class="accordion-body">
			        <p>제목 : 작별인사 (김영하 장편소설)</p>
                  	<p>저자 : 김영하</p>
                  	<p>ISBN : 9791191114225</p>
                  	<p>출판사 : 복복서가</p>
                  	<div class="col">
					별점 : 
					<i class="bi bi-star"></i>
					<i class="bi bi-star"></i>
					<i class="bi bi-star"></i>
					<i class="bi bi-star"></i>
					<i class="bi bi-star"></i>
				</div>
			      </div>
			    </div>
			  </div>
			  <div class="accordion-item">
			    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
			      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
			        책 소개
			      </button>
			    </h2>
			    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
			      <div class="accordion-body">
			        누구도 도와줄 수 없는 상황, 혼자 헤쳐나가야 한다 지켜야 할 약속, 붙잡고 싶은 온기 김영하가 『살인자의 기억법』 이후 9 년 만에 내놓는 장편소설 『작별인사』는 그리 멀지 않은 미래를 배경으로, 별안간 삶이 송두리째 뒤흔들린 한 소년의 여정
			      </div>
			    </div>
			  </div>
			  <div class="accordion-item">
			    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
			      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
			        Comments
			      </button>
			    </h2>
			    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
			      <div class="accordion-body">
			        spring_board reply 활용
			      </div>
			    </div>
			  </div>
			</div>
		</div>
	</div>
</div>
<hr>
</div>




   <div class="col-md-3" style="width: 200px; margin-bottom: 20px;">
                <div style="border-radius: 15px;">
                  <img src="https://shopping-phinf.pstatic.net/main_3243817/32438177755.20220527030344.jpg" alt="" style="width: 100%; padding: 20px;">
                </div>
                <hr>
                <div style="white-space: nowrap; text-align: left; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;">
                  <p>작별인사 (김영하 장편소설)</p>
                  <p>저자 : 김영하</p>
                  <p>ISBN : 9791191114225</p>
                </div>
                  <div style="text-align: left; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;">
                    <p>소개</p>
                    누구도 도와줄 수 없는 상황, 혼자 헤쳐나가야 한다 지켜야 할 약속, 붙잡고 싶은 온기 김영하가 『살인자의 기억법』 이후 9 년 만에 내놓는 장편소설 『작별인사』는 그리 멀지 않은 미래를 배경으로, 별안간 삶이 송두리째 뒤흔들린 한 소년의 여정
                  </div>
                  <hr>
                <div>
                  <button class="btn btn-outline-warning btn-round">
                    <i class="fa-solid fa-book-open">상세</i>
                  </button>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <button class="btn btn-outline-warning btn-round" data-toggle="modal" data-target="#commentModal9791191114225"> <!-- th:data-target -->
                    <i class="fa-solid fa-comments">코멘트</i>
                  </button>
                </div>
                <div class="modal fade" id="commentModal9791191114225" tabindex="-1" role="dialog" aria-labelledby="9791191114225commentuser1" aria-hidden="true"> 
                  <!-- th:id th:aria-labelledby -->
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true" style="font-size: 14px;">닫기</span>
                        </button>
                        <h5 class="modal-title text-center" id="9791191114225commentuser1">COMMENT : 작별인사 (김영하 장편소설)</h5> <!-- th:id --> <!-- th:text="COMMENT : 제목" -->
                      </div>
                      <form action="">
                        <div class="modal-body" style="text-align: center;">
                          <textarea name="input-comment" cols="30" rows="10" style="border: solid 2px #FFEFD6; border-radius: 5px;"></textarea>
                        </div>
                        <div class="modal-footer">
                          <div class="left-side">
                            <button type="submit" class="btn btn-default btn-link" data-dismiss="modal">작성완료</button>
                          </div>
                          <div class="divider"></div>
                          <div class="right-side">
                            <button type="button" class="btn btn-warning btn-link">초기화</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>


    <script>
      $(document).ready(function() {

        if ($("#datetimepicker").length != 0) {
          $('#datetimepicker').datetimepicker({
            icons: {
              time: "fa fa-clock-o",
              date: "fa fa-calendar",
              up: "fa fa-chevron-up",
              down: "fa fa-chevron-down",
              previous: 'fa fa-chevron-left',
              next: 'fa fa-chevron-right',
              today: 'fa fa-screenshot',
              clear: 'fa fa-trash',
              close: 'fa fa-remove'
            }
          });
        }

        function scrollToDownload() {

          if ($('.section-download').length != 0) {
            $("html, body").animate({
              scrollTop: $('.section-download').offset().top
            }, 1000);
          }
        }
      });
    </script>
</body>
<footer th:insert="footer"></footer>
</html>