<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="icon" type="image/png" href="/public/paper_img/favicon.1.ico">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta charset="UTF-8">
        <meta
            content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'
            name='viewport'/>
        <meta name="viewport" content="width=device-width"/>
        <title>Dadock::다독</title>
    </head>
    <style>
        .star {
            font-size: 1.2em;
        }
        .star.false {
            color: #ccc;
        }
        .star.true {
            color: #fc0;
        }
    </style>
    <body>
        <header th:insert="headerNav"></header>
        <!-- 검색바 -->
        <div class="container">
            <div class="row">
                <form method="get" role="searchbox" action="/book/searchList/1">
                    <div class="col-sm-4 input-group mt-3">
                        <input type="search" class="form-control" placeholder="도서 검색" name="text">
                        <button class="btn btn-outline-secondary" type="submit">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="m-4">
            <hr>
            <div class="title">
                <th:block th:each="bookDetail:${bookDetails}">
                    <div class="row" style="justify-content: center;">
                        <div>
                            <p class="h5 text-truncate" th:text="|상세정보 > ${bookDetail.title}|"></p>
                        </div>
                        <div class="col-md-3 justify-content-center">
                            <div class="mx-5 border">
                                <img class="w-100" th:src="${bookDetail.image}" th:alt="${bookDetail.title}">
                            </div>
                            <div class="text-center">
                               	<br>
                                <!-- 별점 start -->
                                <th:block th:each="library:${star}">
                                    <th:block th:if="${library.star!=0&&library.star!=5}">
                                        <span class="star true" th:each="num : ${#numbers.sequence(0, library.star-1)}">★</span><!-- span 줄바꿈 방지 
                    								 --><span
                                            class="star false"
                                            th:each="num : ${#numbers.sequence(0, 4-library.star)}">★</span>
                                    </th:block>
                                    <span class="star true" th:if="${library.star==5}">★★★★★</span>
                                    <span class="star false" th:if="${library.star==0}">★★★★★</span>
                                </div>
                                <!-- 별점 end -->

                                <!-- 내서재 담기 -->

                            		<br>
                                <!-- 로그인 안 한 경우 -->
                                <th:block th:if="${user_id==null}">
                                    <div type="button" class="text-center">
                                        <a th:href="|/library/insert/${bookDetail.isbn}|">내 서재 담기 <i class="bi bi-box2-heart-fill"></i>
                                        </a>
                                    </div>
                                </th:block>
                                <!-- 로그인 한 경우 -->
                                <th:block th:unless="${user_id==null}">
																	<th:block th:if="${userRead==0}">
																			<div type="button" class="text-center">
																				<a th:href="|/library/insert/${bookDetail.isbn}|">내 서재 담기 <i class="bi bi-box2-heart-fill"></i>
                                        </a>
                                     	</div>
																	</th:block>
																	<th:block th:unless="${userRead==0}">
																			<div type="button" class="text-center">
																				<a th:href="|/library/list/1|"><p>완독! <i class="bi bi-book-fill"></i><p>
																				(내 서재로 이동) <i class="bi bi-box-arrow-up-right"></i>
                                        </a>
                                      </div>
																	</th:block>
																</th:block>
                            </div>
                            <div class="col-md-6">
                                <div class="accordion">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingOne">
                                            <button
                                                class="accordion-button"
                                                type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#collapseOne"
                                                aria-expanded="true"
                                                aria-controls="collapseOne">
                                                책 정보
                                            </button>
                                        </h2>
                                        <div
                                            id="collapseOne"
                                            class="accordion-collapse collapse show"
                                            aria-labelledby="headingOne">
                                            <div class="accordion-body">
                                                <p class="text-truncate" th:text="|제목 : ${bookDetail.title}|"></p>
                                                <p class="text-truncate" th:text="|저자 : ${bookDetail.author}|"></p>
                                                <p th:text="|ISBN : ${bookDetail.isbn}|"></p>
                                                <p th:text="|출판사 : ${bookDetail.publisher}|"></p>
                                                <p th:text="|출간일 : ${bookDetail.pubdate}|"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingTwo">
                                            <button
                                                class="accordion-button collapsed"
                                                type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#collapseTwo"
                                                aria-expanded="false"
                                                aria-controls="collapseTwo">
                                                책 소개
                                            </button>
                                        </h2>
                                        <div
                                            id="collapseTwo"
                                            class="accordion-collapse collapse"
                                            aria-labelledby="headingTwo">
                                            <div class="accordion-body">
                                                [[${bookDetail.description}]]
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingThree">
                                            <button
                                                class="accordion-button"
                                                type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#collapseThree"
                                                aria-expanded="true"
                                                aria-controls="collapseThree">
                                                Comments
                                            </button>
                                        </h2>
                                        <div
                                            id="collapseThree"
                                            class="accordion-collapse collapse show"
                                            aria-labelledby="headingThree">
                                            <div class="accordion-body">
                                                <th:block th:each="library:${libraries}">
                                                    <hr>
                                                    <p th:text="|작성자 : ${library.user_id}|"></p>
                                                    <div>
                                                        <p th:text="${library.comment}"></p>
                                                    </div>
                                                    <hr>
                                                </th:block>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
                <hr>
            </div>
        </body>
        <footer th:insert="footer"></footer>
    </html>