<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="icon" type="image/png" href="/public/paper_img/favicon.1.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta charset=UTF-8>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
	<title>Dadock::다독</title>
</head>
<body>
<header th:insert="headerNav"></header>
    <div class="container">
      <div class="row">
          <form method="get" role="searchbox" action="./searchList/1">
          	<div class="col-sm-4 input-group mt-3">
          		<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
          			<i class="bi bi-menu-down"></i>
          		</button>
          		<ul class="dropdown-menu">
    				<li><a class="dropdown-item" href="#">제목,키워드</a></li>
				    <li><a class="dropdown-item" href="#">저자</a></li>
				   	<li><a class="dropdown-item" href="#">ISBN</a></li>
				</ul>
            	<input type="search" class="form-control" placeholder="도서 검색" name="text">
         		<button class="btn btn-outline-secondary" type="submit">
         			<i class="bi bi-search"></i>
         		</button>
          	</div>
          </form>
      </div>
    </div>

<div class="m-4">
<hr>
<th:block th:each="book : ${bookDetails}">
<div class="title">
	<div class="row" style="justify-content: center;">
		<div>
			<h5 th:text="|상세정보 > ${book.title}|"></h5>
		</div>
		<div class="col-10 col-md-4 justify-content-center">
			<div>
				<img th:src="${book.image}" th:alt="${book.title}" style="width: 100%;">
			</div>
			<div type="button" style="text-align: center;">
			<a th:href="|/library/insert/${book.isbn}|">내 서재 담기<i class="bi bi-box2-heart-fill"></i></a>	
			</div>
		</div>
		<br>
		<div class="col-md-6">
			<div class="accordion" id="accordionPanelsStayOpenExample">
			  <div class="accordion-item">
			    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
			      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
			        책 정보
			      </button>
			    </h2>
			    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
			      <div class="accordion-body">
			        <p th:text="|제목 : ${book.title}|"></p>
                  	<p th:text="|저자 : ${book.author}|"></p>
                  	<p th:text="|ISBN : ${book.isbn}|"></p>
                  	<p th:text="|출판사 : ${book.publisher}|"></p>
                  	<p th:text="|출간일 : ${book.pubdate}|"></p>
                  	<a th:href="${book.link}">책 보러가기 (네이버)</a>
                  	<div class="col">
					별점 : 
					<i class="bi bi-star"></i>
					<i class="bi bi-star"></i>
					<i class="bi bi-star"></i>
					<i class="bi bi-star"></i>
					<i class="bi bi-star"></i>
				</div>
			      </div>
			    </div>
			  </div>
			  <div class="accordion-item">
			    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
			      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
			        책 소개
			      </button>
			    </h2>
			    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
			      <div class="accordion-body">
			        [[${book.description}]]
			      </div>
			    </div>
			  </div>
			  <div class="accordion-item">
			    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
			      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
			        Comments
			      </button>
			    </h2>
			    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
			      <div class="accordion-body">
			        spring_board reply 활용
			      </div>
			    </div>
			  </div>
			</div>
		</div>
	</div>
</div>
</th:block>
<hr>
</div>
    <script>
      $(document).ready(function() {

        if ($("#datetimepicker").length != 0) {
          $('#datetimepicker').datetimepicker({
            icons: {
              time: "fa fa-clock-o",
              date: "fa fa-calendar",
              up: "fa fa-chevron-up",
              down: "fa fa-chevron-down",
              previous: 'fa fa-chevron-left',
              next: 'fa fa-chevron-right',
              today: 'fa fa-screenshot',
              clear: 'fa fa-trash',
              close: 'fa fa-remove'
            }
          });
        }

        function scrollToDownload() {

          if ($('.section-download').length != 0) {
            $("html, body").animate({
              scrollTop: $('.section-download').offset().top
            }, 1000);
          }
        }
      });
    </script>
</body>
<footer th:insert="footer"></footer>
</html>