<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>내 서재 리스트</title>
</head>
<body>
	<header th:insert="/headerNav"></header>
	<main>
		<h1 class="m-3 d-flex justify-content-between align-items-center">내 서재 리스트
			
		</h1>
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>no</th>
					<th>책 제목</th>
					<th>저자</th>
					<th>출판사</th>
					<th>완독일</th>
					<th>별점</th>
					
				</tr>
			</thead>
			<tbody>
				<th:block th:each="readBook : ${readBookList}">
						<tr>
							<td th:text="${readBook.libraries.get(0).library_no}"></td>
							<td th:text="${readBook.title}"></td>
							<td th:text="${readBook.author}"></td>
							<td th:text="${readBook.publisher}"></td>
							<td th:text="${#dates.format(readBook.libraries.get(0).end_date, 'yyyy-HH-dd')}"></td>
							<td th:text="${readBook.libraries.get(0).star}"></td>
						</tr>
				</th:block>
			</tbody>
		</table>
	
	</main>
</body>
</html>




















