<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">


<head>
<link rel="icon" type="image/png" href="/public/paper_img/favicon.1.ico">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta charset=UTF-8>
<meta
	content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'
	name='viewport' />
<meta name="viewport" content="width=device-width" />
<style>
/* 별점 css */
.star{
font-size:1.4em;
}
.star.false{
color:#ccc;
}
.star.true{
color:#fc0;
}

</style>
<title>recommend Book</title>
</head>

<body>
	<header th:insert="headerNav"></header>
	<div class="m-5">
	<hr>
		<div class="card text-center">
			<div class="card-body ">
				<h2 class="card-title">추천도서</h2>
				<h4 class="card-text">유저추천</h4>
			</div>
		</div>
		<hr>
		<div class="container-fluid">
			<div class="row" style="justify-content: center;">
				<th:block th:each="recommend : ${recommendList}">
					<div class="col-md-2"
						style="width: 300px; margin: 1px; margin-bottom: 30px;">
						<div class="text-center" type="button"
							th:onclick="|location.href='@{/book/detail/__${recommend.isbn}__}'|">
							<img th:src="${recommend.img}"
								style="border-radius: 5px; height: 350px; width: 250px; padding: 2px;">
						</div>
							<hr>
						<div>
							<div class="align-self-end">
							<div class="mb-3"
								style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;"
								th:text="|제목 : ${recommend.title}|"></div>
							<div class="mb-3"
								style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;"
								th:text="|저자 : ${recommend.author}|"></div>
							<div class="mb-3"
								style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;"
								th:text="|출판사 : ${recommend.publisher}|"></div>
							<div class="mb-3"
								style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;"
								th:text="|ISBN : ${recommend.isbn}|"></div>
							<div class="mb-3"
								style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
								<!-- 별점 start -->
					    		<div class="mb-3 text-truncate w-90">
               			<span class="star false" th:if="${recommend.libraries.size==0}">★★★★★</span>
				    			<th:block th:each="library:${recommend.libraries}">
				    				<th:block th:if="${library.star!=0&&library.star!=5}">
										<span class="star true" th:each="num : ${#numbers.sequence(0, library.star-1)}">★</span><!-- span 줄바꿈 방지
							 		 --><span class="star false" th:each="num : ${#numbers.sequence(0, 4-library.star)}">★</span>
									</th:block>
                 		<span class="star true" th:if="${library.star==5}">★★★★★</span>
                 		<span class="star false" th:if="${library.star==0}">★★★★★</span>
								</th:block>
								</div>
							<hr>
							</div>
						</div>
						</div>
						</div>
						<!-- <div>
			<button class="btn btn-outline-warning btn-round">
				<i class="fa-solid fa-book-open">상세</i>
			</button>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<button class="btn btn-outline-warning btn-round" data-toggle="modal"
				data-target="#commentModal9791191114225">
				th:data-target
				<i class="fa-solid fa-comments">코멘트</i>
			</button>
		</div> -->
					</div>
				</th:block>
			</div>
		</div>
	</div>
	<div id="dd" class="m-5">
		<hr>
		<div class="card text-center">
			<div class="card-body ">
				<h2 class="card-title">다독추천</h2>
			</div>
		</div>
		<hr>
		<div class="container-fluid">
			<div class="row" style="justify-content: center;">
				<th:block th:each="recommend : ${dadockList}">
					<div class="col-md-2"
						style="width: 300px; margin: 1px; margin-bottom: 30px;">
						<div class="text-center" type="button"
							th:onclick="|location.href='@{/book/detail/__${recommend.isbn}__}'|">
							<img th:src="${recommend.img}"
								style="border-radius: 5px; height: 350px; width: 250px; padding: 2px;">
							<hr>
						<div>
							<div class="align-self-end">
							<div class="mb-3"
								style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;"
								th:text="|제목 : ${recommend.title}|"></div>
							<div class="mb-3"
								style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;"
								th:text="|저자 : ${recommend.author}|"></div>
							<div class="mb-3"
								style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;"
								th:text="|출판사 : ${recommend.publisher}|"></div>
							<div class="mb-3"
								style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;"
								th:text="|ISBN : ${recommend.isbn}|"></div>
					    		<!-- 별점 start -->
					    		<div class="mb-3 text-truncate w-90">
               				<span class="star false" th:if="${recommend.libraries.size==0}">★★★★★</span>
				    			<th:block th:each="library:${recommend.libraries}">
				    				<th:block th:if="${library.star!=0&&library.star!=5}">
										<span class="star true" th:each="num : ${#numbers.sequence(0, library.star-1)}">★</span><!-- span 줄바꿈 방지
							 		 --><span class="star false" th:each="num : ${#numbers.sequence(0, 4-library.star)}">★</span>
								</th:block>
                 			<span class="star true" th:if="${library.star==5}">★★★★★</span>
                 			<span class="star false" th:if="${library.star==0}">★★★★★</span>
								</th:block>
								</div>
							</div>
							<hr>
						</div>
						</div>
						<!-- <div>
			<button class="btn btn-outline-warning btn-round">
				<i class="fa-solid fa-book-open">상세</i>
			</button>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<button class="btn btn-outline-warning btn-round" data-toggle="modal"
				data-target="#commentModal9791191114225">
				th:data-target
				<i class="fa-solid fa-comments">코멘트</i>
			</button>
		</div> -->
					</div>
				</th:block>
			</div>
		</div>
	</div>
</body>


<footer th:insert="footer"></footer>
</html>