<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>다독마켓 물건 등록 페이지</title>
</head>
<!-- <header th:insert="headerNav"></header> -->

<header th:insert="headerNav"></header>
<body>
	
		
		<main class="container">
	
	<!-- 책 정보 불러오기 -->
	<th:block th:each="book:${bookDetails}">
	
		
		<h1 class="m-3">마켓 등록 페이지</h1>

		<form id="insertForm" action="/market/goodsInsertSearch2.do" method="post" class="row g-3 needs-validation"
		enctype="multipart/form-data">
		
		<div class="container row"><!-- 이미지 등록?!!! -->
			 <div class="col-4 mb-3 was-validated">
			 	<img name="img_path" th:src="${book.image}" style=width:300px type="file">
				<input name="img_path"  th:value="${book.image}" type="text" hidden>
			</div>   
			
			
			<div class="col-6 mb-3 was-validated">
			  <input name="isbn" class="form-control" id="inputIsbn" th:value="${book.isbn}" readonly hidden>
			  <input name="title" class="form-control" id="inputTitle" th:value="${book.title}" readonly>
			</div>
		</div>
		<div class="mb-3 was-validated" >
		    <label for="inputId" class="form-label">글쓴이(아이디)</label>
		    <input name="user.user_id" class="form-control" id="inputId" placeholder="" required readonly
		    th:value="${session.loginUser.user_id}">
		  </div>
			
			 <div class="mb-3 was-validated">
		  	<input name="state" type="radio" value="1"> 최상
		  	<input name="state" type="radio" value="2"> 상
		  	<input name="state" type="radio" value="3"> 중
		  </div>
		 
			 <div class="mb-3 was-validated" >
		    <label for="inputTitle" class="form-label">가격</label>
		    <input name="price" class="form-control" id="inputImgFile" placeholder="가격을 입력하세요" required >
		    <div class="invalid-feedback">
		    가격을 입력하세요
		    </div>
		  </div>
		  <div class="mb-3 was-validated" >
		    <label for="inputContents" class="form-label">내용</label>
		    <textarea name="content" class="form-control" id="inputContents" placeholder="내용을 입력하세요" required></textarea>
		    <div class="invalid-feedback">
		      글 내용을 입력하세요
		    </div>
		  </div>

			  <div class="col-12">
			    <button class="btn btn-primary" type="submit">등록</button>
			   <!--  <p th:text="${marketBoard.user?.user_id}" readonly ></p> -->
			  </div> 
		  
		
	</form>
		
</th:block>

</main>

</body>
<footer th:insert="footer"></footer>
</html>