<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>다독 마켓 게시글 수정</title>
</head>
<!-- <header th:insert="headerNav"></header> -->
<header th:insert="headerNav"></header>
<body>

	<main class="container">
		<h1 class="m-3"></h1> 
		<form action="/market/goodsUpdate.do" method="post" class="row g-3" 
		enctype="multipart/form-data">
			<div class="mb-3 was-validated" >
		    <label for="inputId" class="form-label">글쓴이(아이디)
		    	<strong th:text="${marketBoard.user_id}"></strong>
		    </label>
		    
		    
		  </div>
		
		  <div class="mb-3 was-validated" >
		    <label for="inputTitle" class="form-label">제목</label>
		    <input name="title" class="form-control" type="text" th:value="${marketBoard.title}">
		  </div>
		 <!-- 인풋 이름이 같으면 배열로 받아짐  -->
		  <div>
		  	<input name="state" type="radio" value="1"> 최상
		  	<input name="state" type="radio" value="2"> 상
		  	<input name="state" type="radio" value="3"> 중
		  </div>
		<div>
				<p>삭제 이미지 선택</p>
					<th:block th:each="boardImg:${marketBoard.marketBoardImgs}">
				<label>
						<input type="checkbox" class="form-check-input" 
						th:value="${boardImg.market_board_img_no}" name="boardImgNo">
						<img alt="게시글이미지" th:src="@{/public/market/img/{fileName}(fileName=${boardImg.img_path})}" 
						class="img-thumbnail" width="200">
				</label>
					</th:block>
			</div>
		  <div class="mb-3" >
		    <label for="inputTitle" class="form-label">이미지</label>
		    <input name="imgFiles" class="form-control mb-1"  type="file">
		    <input name="imgFiles" class="form-control mb-1"  type="file">
		    <input name="imgFiles" class="form-control mb-1"  type="file">
		  </div>
			 <div class="mb-3 was-validated" >
		    <label for="inputTitle" class="form-label">가격</label>
		    <input name="price" class="form-control" id="inputImgFile" type="number" th:value="${marketBoard.price}" >
		    <div class="invalid-feedback">
		    </div>
		  </div>
		  <div class="mb-3 was-validated" >
		    <label for="inputContents" class="form-label">내용</label>
		    <textarea name="content" class="form-control" id="inputContents" th:text="${marketBoard.content}"></textarea>
		    <div class="invalid-feedback">
		    </div>
		  </div>

			  <div class="col-12">
			    <button class="btn btn-primary" type="submit">등록</button>
			    <input type="hidden" name="market_board_no" th:value="${marketBoard.market_board_no}">
			  </div>
		</form>

	</main>
</body>
</html>