<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>중고거래</title>
</head>
<header th:insert="headerNav"></header>
<body>
	
  <main id="container">

     	<div id="box" class="mt-5 d-flex justify-content-center">
          <p 
	          class="bi bi-journal-bookmark-fill"
	          style="font-size:xx-large;">다독마켓</p>
<!--        	<form class="d-flex">
      	<input class="form-control me-sm-2" type="text" placeholder="상품검색">
      	<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
   	</form> -->
      </div>
      <div class="d-flex flex-row-reverse ">
	    <a href="/market/goodsInsertSearch1" class="btn  btn-warning">물건등록</a>
      </div>
	          <hr>
 <!--    <p>
		페이지 :<span class="badge text-bg-primary" th:text="${page}"></span>
		총 게시글 수:<span class="badge text-bg-warning" th:text="${rowCount}"></span>
	</p> -->
	<div class="row d-flex justify-content-center " >
    <th:block th:each="marketBoard: ${goodsList}">
    	<div class="card m-4" style="max-width: 600px;"
    		th:onclick="location.href='/market/goodsDetail/[[${marketBoard.market_board_no}]]'">
		  <div class="row g-0">
		    <div class="col-md-4">
		   		 <img th:src="@{{url}(url=${marketBoard.img_path})}"  th:alt="${marketBoard.title}" 
		    		style=width:300px class="img-fluid rounded-start">
		    </div>
		    <div class="col-md-8">
		      <div class="card-body">
		       <h5 th:text="'No.'+${marketBoard.market_board_no}"></h5>
		       <hr>
		        <h5 class="card-title" th:text="${marketBoard.title}"></h5>
		        <hr>
		        글쓴이
		        <p class="card-text" th:text="${marketBoard.user_id}"></p>
		        <p class="card-text" th:text="${marketBoard.price}+'원'"><i>원</i></p>
		        <hr>
		        내용
		        <p class="card-text" th:text="${marketBoard.content}"></p>
		        <small class="text-muted">등록일</small>
		        <p class="card-text" th:text="${#dates.format(marketBoard.post_time,'yyyy-MM-dd: hh:mm:ss')}">
		        </p>
		      </div>
		    </div>
		  </div>
			    <div class="d-flex flex-row-reverse">
			  
			    <!--//////////// 위시리스트 ////////////////// -->
				    <form action="/market/wishListInsert.do" method="post" id="wishList">
						 <!--  -->				    	
						 <th:block th:if="${marketBoard.lgoinUserWishList!=null}">
						 	 <a type="submit"
					    	th:href="|/market/wishList/insert/${marketBoard.market_board_no}|" class="btn btn-outline-warning"
					    	>
					    	<i class="bi bi-heart-fill" style="color: #0B5ED7;"></i></a>  
						</th:block>  
						
	   					 <th:block th:unless="${marketBoard.lgoinUserWishList!=null}">
	   				    	<a type="submit"
					    	th:href="|/market/wishList/insert/${marketBoard.market_board_no}|" class="btn btn-outline-warning">
					    	<i class="bi bi-heart" ></i></a>
					    </th:block>
					</form>
			    	<a th:href="@{/market/goodsDetail/{no}/(no=${marketBoard.market_board_no})}" 
			    	class="btn btn-warning">자세히</a>
			    	
			    </div>
		    </div>
	
	 	 
	</th:block>
  </div>
	
	    <div class="d-flex justify-content-center" th:insert="market/marketPaging"></div> 

   </main>
	
</body>
</html>