<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>중고거래</title>
</head>
<!-- <header th:insert="headerNav"></header> -->
<header th:insert="headerNav"></header>
<body>
	
	    <div id="container">
	        <div id="box" class="m-3 d-flex justify-content-between">
	          
	            <h1 ><i class="bi bi-book"></i>다독마켓</h1>
	            
	            
	            <form class="d-flex">
	        <input class="form-control me-sm-2" type="text" placeholder="상품검색">
	        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
	      </form>
	        </div>
	    </div>
	    <a href="/market/goodsInsertSearch1" class="btn btn-sm btn-primary">물건등록</a>
	    
	    
	 <div class="card mb-3" style="max-width: 540px;" th:each="marketBoard: ${goodsList}"  
					th:onclick="location.href='/market/goodsDetail/[[${marketBoard.market_board_no}]]'"> <!--글 클릭하면 detail  -->
		<!-- 	<div>
	    		<img th:src="${marketBoard.img}"
			</div> -->
	  <div class="row g-0">
	     <div class="col-md-4"  th:each="boardImg:${marketBoard.marketBoardImgs}">
  				<img th:src="@{/public/market/img/{fileName}(fileName=${boardImg.img_path})}" class="img-fluid rounded-start" alt="...">
	    </div>  
	    <div>
	    	<!-- d이미지!  -->
	    </div>
	    <div class="col-md-8">
	      <div class="card-body" >
	      제목:
	        <p class="card-title" th:text="${marketBoard.title}"></p> 
	        <!-- 책제목:
	        <p class="card-text" th:text="${marketBoard.book_title}"></p> -->
	        가격:
	        <p class="card-text" th:text="${marketBoard.price}"></p>
	        내용:
	        <p class="card-text" th:text="${marketBoard.content}">내용</p>
	        <p class="card-text" th:text="${#dates.format(marketBoard.post_time,'yyyy-MM-dd: hh:mm:ss')}"><small class="text-muted">등록일</small></p>
	      </div>
		    <div class="d-flex flex-row-reverse">
		    
			    <form action="/market/wishListInsert.do" method="post">
					<div class="col-12">
				    	<button id="insertForm" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="찜하기"  
				    	th:href="|/market/wishList/${marketBoard.market_board_no}|" class="btn btn-outline-warning">
				    	<i class="bi bi-heart"></i></button>
					</div>
					<!-- <div class="mt-2" type="button">
							<a class="text-decoration-none" th:href="|/market/goodsInsertSearch/${book.isbn}|">마켓등록 <i class="bi bi-box2-heart-fill"></i></a>	
					</div> -->
				</form>
		    	<a th:href="@{/market/goodsDetail/{no}/(no=${marketBoard.market_board_no})}" 
		    	class="btn btn-warning">자세히</a><!-- detail버튼 뭐 쓰지? -->
		    </div>
	    </div>
	  </div>
	</div> 
	
	
	 <div>
  <ul class="pagination">
    <li class="page-item disabled">
      <a class="page-link" href="#">&laquo;</a>
    </li>
    <li class="page-item active">
      <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">3</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">4</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">5</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">&raquo;</a>
    </li>
  </ul>
</div> 
	    	
</body>
</html>