<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>마켓 유저 상세페이지</title>
</head>
<body>
<header th:insert="headerNav"></header>
	<h1> 마켓 유저 상세페이지 </h1>
<div class="row mb-3 g-3 align-items-center">
			  	<button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#boarListCol">
					유저가 작성한 Board List
				</button>
				<div class="collapse" id="boarListCol">

					<ol class="list-group list-group-numbered">
					  <li class="list-group-item d-flex justify-content-between align-items-start"
					   th:each="m:${userDetail}">
					    <div class="ms-2 me-auto">
					      <div class="fw-bold" th:text="${m.title}"></div>
					      	<div th:text="${m.content}"></div>
					    </div>
					    
					  </li>
					</ol>	
				</div>
			</div>
			  <!-- 	<h1>
					유저가 작성한 Board List
			  	</h1>
				
				  <th:block th:each="m:${userDetail}">
				  <p th:text="${m.title}"></p>
				  </th:block> -->
</body>
</html>