<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>marketPayDetail</title>
</head>
<body>
<header th:insert="headerNav"></header>	
	<main>
  <h1 ><i class="bi bi-book"></i>결제내역상세페이지</h1>
  
  <table class="table table-hover" style="width: 500px;">
			<thead>
				<tr>
					<th></th>
					<th>상품이름</th>
					<th>가격</th>
					<th>수량</th>
				</tr>
			</thead>
			<tbody>
				<tr>
				
					<td >
					<div th:each="boardImg:${marketBoard.marketBoardImgs}">
  			<img th:src="@{/public/market/img/{fileName}(fileName=${boardImg.img_path})}" style="width: 200px" class="card-img-top" alt="...">
  		</div>
					</td>
					<td th:text="${marketBoard.title}"></td>
					<td th:text="${marketBoard.price}"></td>
					<td>1</td>
				</tr>
			</tbody>
		</table>
		주문배송정보
		<table class="table table-hover" style="width: 500px;">
		    <tr>
		      <th scope="row" >주문번호</th>
		      <td>m03248039</td>
		      
		      </tr>
		      <tr>
		      <th scope="row" >유저아이디</th>
		      <td th:text="${marketBoard.user_id}"></td>
		      <td>
						      
		      </td>
		      </tr>
		</table>
		<div>
		
		</div>
		</main>
					
				
	
	
<a th:href="@{/market/goodsList/1}" class="btn btn-warning">메인으로</a>
</body>
</html>