<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- jQuery --> 
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
 <!-- iamport.payment.js -->
  <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
 <script th:src="@{/public/market/js/marketPay.js}" defer="defer"> </script> 
<meta charset="UTF-8">
<title>결제창</title>
</head>
<body>
<header th:insert="headerNav"></header>
 <main>
  <h1 ><i class="bi bi-book"></i>결제 확인 창</h1>
  <table class="table table-hover" style="width: 500px;">
			<thead>
				<tr>
					<th></th>
					<th>상품이름</th>
					<th>가격</th>
					<th>수량</th>
				</tr>
			</thead>
			<tbody>
				<tr>
				
					<td >
					<div th:each="boardImg:${marketBoard.marketBoardImgs}">
  			<img th:src="@{/public/market/img/{fileName}(fileName=${boardImg.img_path})}" style="width: 200px" class="card-img-top" alt="...">
  		</div>
					</td>
					<td th:text="${marketBoard.title}" id="title"></td>
					<td th:text="${marketBoard.price}"></td>
					<td>1</td>
				</tr>
			</tbody>
		</table>
		<div>
		
		</div>
		</main>
					
				
	
	
<button id="marketPay" type="button" class="btn btn-primary">결제테스트</button>
<input type="hidden" name="market_board_no" th:value="${marketBoard.market_board_no}" id=marketBoardNo>
	
</body>
</html>