<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>marketWistList</title>
</head>
<body>
<header th:insert="headerNav"></header>
	<form action="/market/wishList.do" method="post">
	<h1>장바구니?찜?</h1>
	
	<div class="card mb-3" style="max-width: 540px;" th:each="marketBoard: ${goodsList}"  
					th:onclick="location.href='/market/goodsDetail/[[${marketBoard.market_board_no}]]'"> <!--글 클릭하면 detail  -->
			
	  <div class="row g-0">
	     <div class="col-md-4"  th:each="boardImg:${marketBoard.marketBoardImgs}">
  				<img th:src="@{/public/market/img/{fileName}(fileName=${boardImg.img_path})}" class="img-fluid rounded-start" alt="...">
	    </div> 
	    <div class="col-md-8">
	      <div class="card-body" >
	      제목:
	        <p class="card-title" th:text="${marketBoard.title}"></p> 
	        <!-- 책제목:
	        <p class="card-text" th:text="${marketBoard.book_title}"></p> -->
	        가격:
	        <p class="card-text" th:text="${marketBoard.price}"></p>
	        내용:
	        <p class="card-text" th:text="${marketBoard.content}">내용</p>
	        <p class="card-text" th:text="${#dates.format(marketBoard.post_time,'yyyy-MM-dd: hh:mm:ss')}"><small class="text-muted">등록일</small></p>
	      </div>
		    <div class="d-flex flex-row-reverse">
			    
		    	<a th:href="@{/market/goodsDetail/{no}/(no=${marketBoard.market_board_no})}" 
		    	class="btn btn-warning">자세히</a><!-- detail버튼 뭐 쓰지? -->
		    </div>
	    </div>
	  </div>
	</div> 
	<div>
  <ul class="pagination">
    <li class="page-item disabled">
      <a class="page-link" href="#">&laquo;</a>
    </li>
    <li class="page-item active">
      <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">3</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">4</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">5</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">&raquo;</a>
    </li>
  </ul>
</div>
	</form>
</body>
</html>