<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>찜 등록 페이지</title>
      
</head>
<body>
<header th:insert="headerNav"></header>
  <main id="container">
	        <div id="box" class="m-3 d-flex justify-content-between">
	          <p th:text="${session.loginUser?.user_id}+' 의 위시리스트'" 
	          class="bi bi-journal-bookmark-fill"
	          style="font-size: xx-large;"></p>
	            
	            
	            <form class="d-flex">
	        <input class="form-control me-sm-2" type="text" placeholder="상품검색">
	        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
	      </form>
	        </div>
	   <!--  <p>
			페이지 :
			<span class="badge text-bg-success" th:text="${page}"></span>
			총 게시글 수:<span class="badge text-bg-primary" th:text="${rowCount}"></span>
		</p> -->
	    
	 <div class="card mb-3" style="max-width: 540px;" th:each="wishList: ${wishLists}" >
	  	<!-- <div class="col-md-4">
		   		 <img th:src="@{{url}(url=${wishList.marketBoard.img_path})}"  th:alt="${wishList.marketBoard.title}" 
		    		style=width:300px class="img-fluid rounded-start">
		    </div> -->
	  	<p class="card-title" th:text="${wishList.marketBoard.title}"></p> 
	  
	        <p class="card-text" th:text="${wishList.marketBoard.price}"></p>
	        <div class="d-flex flex-row-reverse">
	        	<a th:href="@{/market/goodsDetail/{no}/(no=${wishList.marketBoard.market_board_no})}" 
		    	class="btn btn-outline-warning">자세히</a>
	        </div>
					
	</div> 
	
	
	
	    </main>

</body>
</html>