<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="card">
	<div class="card-header d-flex justify-content-start align-items-center">
		
		<button type="button" id=service
			class="text-decoration-none btn btn-light"
			style="color: black; font-size: 14px;">서비스 이용약관
		</button>
			<div th:insert="temsOfService.html"></div>
		
		<button type="button" id=service1
			class="text-decoration-none btn btn-light"
			style="color: black; font-size: 14px;">개인정보 처리방침
		</button>
			<div th:insert="privacyPolicy.html"></div>
		
		<button type="button" id=service
			class="text-decoration-none btn btn-light"
			style="color: black; font-size: 14px;">회사안내
		</button>
	</div>
	

	<div class="d-flex justify-content-between align-items-center">
		<div class="card-body m-3">
			<div class="" style="font-size: 13px;">
				DADOCK | 책과 이야기로 마음을 다독<br> (주)DADOCK PROJECT | 대표: 정 남 준 |
				사업자등록번호:101-86-89995 | 통신판매업신고증 : 제 2022-서울마포-1597호 | TEL:
				02-2231-6412 <br> 서울특별시 마포구 양화로 122 LAB7 빌딩 3층, 4층 <br>
				COPYRIGHT(C) DADOCK. ALL RIGHTS RESERVED.<br>
			</div>
		</div>
		<div class="m-5" style="font-size: 24px">
			<a href="https://www.instagram.com/"target="_blank" class="link-dark"><i class="bi bi-instagram"></i></a>
			<a href="https://twitter.com/?lang=ko"target="_blank" class="link-dark"><i class="bi bi-twitter"></i></a>
			<a href="https://ko-kr.facebook.com/"target="_blank" class="link-dark"><i class="bi bi-facebook"></i></a>
			<a href="https://www.youtube.com/"target="_blank" class="link-dark"><i class="bi bi-youtube"></i></a>
		</div>
	</div>
</div>
</html>