<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="public/paper_img/favicon.1.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta charset=UTF-8>
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
</head>
  <footer class="bd-footer bg-dark">
   <div id="notifications">
	    <div class="alert alert-info" style="border-radius:0;">
	      <div class="container">
	        <b>이책이 말이죠</b> 이책은 말이죠
	      </div>
    	</div>
   </div>
   <div class="container">
       <div class=" d-flex row pull-left"  >
            <div class="col-sm-4" >
                <a href="http://www.creative-tim.com" style="font-size: 22px">
                     DaDock
                </a>
                <div style=" margin:10px; display: inline-block; ">
                <a href="http://blog.creative-tim.com" style="color: white; font-size: 17px">
                   Link1
                </a>
                <a href="http://www.creative-tim.com/product/rubik" style="color: white; font-size: 17px">
                    Link2
                </a>
                </div>
         </div>
       </div>
   </div>
</footer>

</html>