<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="public/paper_img/favicon.1.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta charset=UTF-8>
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
</head>
	<br>
    <div class="footer text-center bd-footer bg-dark">
   		<div id="notifications">
	   		 <div class="alert alert-info" style="border-radius:0;">
	   		   <div class="">
	     		   <b>이책이 말이죠</b> 이책은 말이죠
	      		</div>
    		</div>
  		 </div>
          <div>
                 <a href="" style="font-size: 22px; text-decoration:none;">
                     DaDock
                </a>
                <a href="" style="color: white; text-decoration:none; font-size: 13px">
                   【회사소개】 
                </a>
                <a href="" style="color: white; text-decoration:none; font-size: 13px">
                   【개인정보처리방침】 
                </a>
                <a href="" style="color: white; font-size: 13px; text-decoration:none;">
                    【이용약관】
                </a>
               <a href="" style="color: white; font-size: 13px; text-decoration:none;">
                    【고객센터】
                </a>
                <h6 style="color:white">Copyright &copy; Dadock<i style="color:Orange">♥</i> All rights reserved.</h6>
          </div>
  
  </div>

</html>