<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="icon" type="image/png" href="/public/paper_img/favicon.1.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta charset=UTF-8>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
	<title>Dadock::다독</title>
</head>
<body>
	<header th:insert="headerNav"></header>
	
   <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#ffe"></rect><text x="50%" y="50%" fill="#888" dy=".3em">ㅁㅁㅁㅁㅁ</text></svg>
    
          <div class="carousel-caption d-none d-md-block">
            <h5 style="color:gray">첫번째 슬라이더 제목</h5>
            <p style="color:gray">Some representative placeholder content for the first slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Second slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#ffe"></rect><text x="50%" y="50%" fill="#888" dy=".3em">Second slide</text></svg>
    
          <div class="carousel-caption d-none d-md-block">
            <h5 style="color:gray">두번째 슬라이더 제목</h5>
            <p style="color:gray">Some representative placeholder content for the second slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Third slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#ffe"></rect><text x="50%" y="50%" fill="#888" dy=".3em">Third slide</text></svg>
    
          <div class="carousel-caption d-none d-md-block">
            <h5 style="color:gray">세번째 슬라이더 제목</h5>
            <p style="color:gray">Some representative placeholder content for the third slide.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <br>
    <!-- card -->
    <div class="row row-cols-1 row-cols-md-3 g-4 m-4" style="justify-content: space-between;">
  <div class="col">
    <div class="card">
      <img src="/public/img/joshua-stannard.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">사진</h5>
        <p class="card-text">사진설명</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/public/img/bruno-abatti.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">사진</h5>
        <p class="card-text">사진설명</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/public/img/soroush-karimi.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">사진</h5>
        <p class="card-text">사진설명</p>
      </div>
    </div>
  </div>
</div>
    <!-- card -->
	<footer th:insert="footer"></footer>
</body>

</html>