<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="icon" type="image/png" href="/public/paper_img/favicon.1.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta charset=UTF-8>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
	<title>Dadock::다독</title>
	<!--카카오톡  -->
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<!-- <script>
	    new daum.Postcode({
	        oncomplete: function(data) {
	        }
	    }).open();
	</script> -->
	<!-- 카카오톡 -->
</head>
	
<body>
	<header th:insert="headerNav"></header>
    <div class="wrapper" style="text-align: center;">
   		<h1 class="m-3 d-flex justify-content-between align-items-center">회원 상세</h1>
        <div class="register-background">
            <div class="filter-black"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 ">
                        <div class="avatar">
                            <img src="/public/paper_img/chet_faker_2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                        </div>
                        <div class="name">
                            <h4>닉네임<br/><small>이름</small></h4>
                        </div>
                        <div class="register-card">
                            <h3 class="title"></h3>
                            <form action="/user/update.do" method="post" class="detail-form">
                                	<br>
                                	<label>아이디</label>
                                	<input type="text" class="form-control" placeholder="id@example.com" th:value="${user.user_id}"  name="user_id" readonly>
                                    <br>
                                    <label>이름</label>
                                    <input type="text" class="form-control" placeholder="이름" th:value=${user.name} name="name">
                                    <br>
                                    <label>비밀번호</label>
                                    <input type="password" class="form-control" placeholder="비밀번호" th:value=${user.pw} name="pw">
                                    <br>
                                    <label>주소</label>
                                    <input type="text" id="address_kakao" class="form-control" placeholder="주소" th:value="${user.address}" name="address" readonly>
                                     <br>
                                    <label>상세주소</label>
                                    <input type="text" class="form-control" placeholder="상세주소" th:value="${user.address_detail}" name="address_detail">
                                    <br>
                                    <label>이메일</label>
                                    <input type="text" class="form-control" placeholder="이메일" th:value=${user.email} name="email">
                                    <br>
                                    <label>휴대폰 번호</label>
                                    <input type="text" class="form-control" placeholder="000-0000-0000" th:value=${user.phone} name="phone">
                                      <br>
                                    <label>보유 포인트</label>
                                    <input type="text" class="form-control" th:value="${0}" name="point">
                                    <br>
                                    <label>회원 등급</label>
                                    <input type="text" class="form-control" th:value="${1}" name="level">
                                    <br>
                                    <button class="btn btn-danger btn-block">수정</button>
                                    <button type="button" class="btn btn-danger btn-block"
                                    th:onclick="location.href='/user/delete/'+[[${user.user_id}]]">삭제</button>
                             </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer register-footer text-center">
                <h6>&copy; 2022, made with <i class="fa fa-heart heart"></i> by DADOCK</h6>
            </div>
        </div>
    </div>
<footer th:insert="footer"></footer>
</body>
<!-- 카카오톡 -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
window.onload = function(){
    document.getElementById("address_kakao").addEventListener("click", function(){ 
        new daum.Postcode({
            oncomplete: function(data) { 
                document.getElementById("address_kakao").value = data.address;
                document.querySelector("input[name=address_detail]").focus(); 
            }
        }).open();
    });
}
</script>
<!-- 카카오톡 -->

</html>