<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="icon" type="image/png" href="/public/paper_img/favicon.1.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta charset=UTF-8>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
	<title>Dadock::다독</title>
</head>
	
<body>
	<header th:insert="headerNav"></header>
 
    <div class="wrapper" style="text-align: center;">
        <div class="register-background">
            <div class="filter-black"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 ">
                        <div class="avatar">
                            <img src="../public/paper_img/chet_faker_2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                        </div>
                        <div class="name">
                            <h4>nickname<br/><small>name</small></h4>
                        </div>
                        <div class="register-card">
                            <h3 class="title"></h3>
                            <form action="/user/register.do" method="post">
                                <label>id</label>
                                <input type="text" class="form-control" placeholder="id@example.com">
                                <form class="register-form">
                                    <br>
                                    <label>name</label>
                                    <input type="text" class="form-control" placeholder="name">
                                    <br>
                                    <label>Password</label>
                                    <input type="password" class="form-control" placeholder="Password">
                                    <br>
                                    <label>Password check</label>
                                    <input type="password" class="form-control" placeholder="Password check">
                                    <br>
                                    <label>email</label>
                                    <input type="text" class="form-control" placeholder="@email">
                                    <br>
                                    <label>phone</label>
                                    <input type="text" class="form-control" placeholder="phone">
                                    <br>
                                    <label>nickname</label>
                                    <br>
                                    <input type="text" class="form-control" placeholder="nickname">
                                    <br>
                                    <button class="btn btn-danger btn-block">Register</button>
                                </form>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer register-footer text-center">
                <h6>&copy; 2022, made with <i class="fa fa-heart heart"></i> by DADOCK</h6>
            </div>
        </div>
    </div>
<footer th:insert="footer"></footer>
</body>

</html>