<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/public/paper_img/favicon.1.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>다독</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <link href="/bootstrap3/css/bootstrap.css" rel="stylesheet" />
    <link href="/public/css/ct-paper.css" rel="stylesheet" />
    <link href="/public/css/demo.css" rel="stylesheet" />
    <link href="/public/css/examples.css" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

</head>

<body>
    <nav class="navbar navbar-ct-transparent navbar-fixed-top" role="navigation-demo" id="register-navbar">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">DADOCK</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navigation-example-2">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a th:href="@{/user/modify/{id}(id=${user.user_id})}" class="btn btn-simple">내 정보 수정</a>
                    </li>
                    <li>
                        <a href="/library/list/1" class="btn btn-simple">내 서재</a>
                    </li>
                    <div class="btn-group" role="group" aria-label="Basic outlined example">
					    <th:block th:if="${session.loginUser==null}">
						  <a class="btn btn-outline-secondary" href="/user/login.do">로그인</a>
						  <a class="btn btn-outline-secondary" href="/user/signup.do" >회원가입</a>
					    </th:block>
					    <th:block th:unless="${session.loginUser==null}">
							<a th:href="@{/user/profile/{user_id}(user_id=${session.loginUser.user_id})}" 
								class="btn btn-sm btn-outline-secondary">
								<span th:text="${session.loginUser.name}"></span>
								<span th:text="${session.loginUser.user_id}"></span>
							</a>
					 		<a href="/user/logout.do" class="btn btn-sm btn-outline-secondary">로그아웃</a>			
						</th:block>
					</div>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-->
    </nav>
        <div class="register-background">
            <div class="filter-black"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 ">
                        <div class="avatar">
                            <img src="/public/paper_img/chet_faker_2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                        	
                          	<p style="color:white" th:text="'아이디 :'+ ${user.user_id}"><p>
                            <p style="color:white" th:text="'이름 : '+ ${user.name}"><p>
                            <p style="color:white" th:text="'이메일 : ' + ${user.email}"><p>
                            <p style="color:white" th:text="'연락처 : '+${user.phone}"><p>
                            <p style="color:white" th:text="'회원 등급 : '+${user.level} +'레벨'"><p>
                            <p style="color:white" th:text="'보유 포인트 : '+${user.point}+'점'"><p>

                    </div>
                </div>
            </div>
        </div>  
<footer th:insert="footer"></footer>
    </div>
    
</body>

<script src="/public/js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="/public/js/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>

<script src="/bootstrap3/js/bootstrap.js" type="text/javascript"></script>

<!--  Plugins -->
<script src="/public/js/ct-paper-checkbox.js"></script>
<script src="/public/js/ct-paper-radio.js"></script>
<script src="/public/js/bootstrap-select.js"></script>
<script src="/public/js/bootstrap-datepicker.js"></script>

<script src="/public/js/ct-paper.js"></script>

</html>