<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybaits.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="com.acorn.dadockProject.mapper.LibraryMapper">

	<resultMap type="Library" id="libraryMap">
		<id column="library_no" property="library_no"/>
		<result column="user_id" property="user_id"/>
		<result column="isbn" property="isbn"/>
		<result column="end_date" property="end_date"/>
		<result column="star" property="star"/>
		<association property="readBook" javaType="ReadBook">
			<id column="book_isbn" property="isbn"/>
			<result column="book_title" property="title"/>
			<result column="book_author" property="author"/>
			<result column="book_publisher" property="publisher"/>
		</association>
	</resultMap>
	
	<select id="selectAll" resultType="Library" resultMap="libraryMap">
		SELECT
			*
			FROM library 
			ORDER BY library_no
	</select>
	
	<select id="selectOne" resultMap="libraryMap" parameterType="int">
		SELECT 
			l.*,
			b.isbn book_isbn, b.title book_title, b.author book_author, b.publisher book_publisher
			
			FROM Library l INNER JOIN read_book b
			USING (isbn)
			
			WHERE l.library_no=#{libraryNo}
	</select>
	
	<select id="selectAllByIsbn" resultMap="libraryMap" parameterType="String">
		select * from library where isbn=#{isbn}
	</select>
	
	
	<select id="selectPageAll"  resultMap="libraryMap">
			SELECT 
			l.*,
			b.isbn book_isbn, b.title book_title, b.author book_author, b.publisher book_publisher
			
			FROM Library l INNER JOIN read_book b
			USING (isbn)
			
			where user_id=#{user_id}
			
			ORDER BY library_no 
			LIMIT #{startRow},#{pageSize}
	</select>
	
	<select id="selectPageAllCount" resultType="int">
		SELECT COUNT(*)
			FROM Library l INNER JOIN read_book b
			USING (isbn)
	</select>
	
	<insert id="insertOne" parameterType="Library"
	useGeneratedKeys="true" keyProperty="library_no">
		INSERT INTO Library
			(isbn, user_id, end_date, star, comment) 
			VALUES 
			(#{isbn}, #{user_id}, #{end_date}, #{star}, #{comment})
	</insert>
	
	<update id="updateOne" parameterType="Library">
		UPDATE Library SET
			end_date=#{end_date},
			star=#{star},
			comment=#{comment}
			WHERE library_no=#{library_no}
	</update>
	
	<delete id="deleteOne" parameterType="int">
		DELETE FROM Library WHERE library_no=#{library_no}
	</delete>

</mapper>


