<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybaits.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="com.acorn.dadockProject.mapper.LibraryMapper">

	<resultMap type="Library" id="libraryMap">
		<id column="library_no" property="library_no"/>
		<result column="isbn" property="isbn"/>
		<result column="user_id" property="user_id"/>
		<result column="end_date" property="end_date"/>
		<result column="star" property="star"/>
		<result column="comment" property="comment"/>
	</resultMap>

	<select id="selectAll" resultType="Library" resultMap="libraryMap">
		SELECT
			library_no, end_date, star, comment
			FROM library 
			ORDER BY library_no
	</select>
	
	<select id="selectByIdAll" resultType="Library" resultMap="libraryMap" parameterType="String">
		SELECT *
			FROM library
			WHERE user_id=#{user_id}
			ORDER BY library_no
	</select>
	
	<select id="selectOneByIsbn" resultType="Library">
		select * from library where isbn=#{isbn}
	</select>
	
	<select id="selectOne" resultMap="libraryMap" parameterType="int">
		SELECT * FROM library WHERE library_no=#{library_no}
	</select>
	
	<insert id="insertOne" parameterType="Library"
	useGeneratedKeys="true" keyProperty="library_no">
		INSERT INTO Library
			(user_id, end_date, star, comment) 
			VALUES 
			(#{user_id}, #{end_date}, #{star}, #{comment})
	</insert>
	
	<update id="updateOne" parameterType="Library">
		UPDATE Library SET
			end_date=#{end_date},
			star=#{star}
			WHERE library_no=#{library_no}
	</update>
	
	<delete id="deleteOne" parameterType="int">
		DELETE FROM library WHERE library_no=#{library_no}
	</delete>

</mapper>


