<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybaits.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acorn.dadockProject.mapper.ReadBookMapper">
	<resultMap type="ReadBook" id="ReadBookMap">
		<id column="isbn" property="isbn"/>
		<result column="title" property="title"/>
		<result column="author" property="author"/>
		<result column="img" property="img"/>
		<result column="publisher" property="publisher"/>
		<result column="publisher" property="publisher"/>
		<result column="pubdate" property="pubdate"/>
		<result column="descriptinon" property="descriptinon"/>
		<result column="link" property="link"/>
		<result column="discount" property="discount"/>
		<collection property="libraries" javaType="java.util.ArrayList" ofType="Library" foreignColumn="isbn">
			<id column="library_no" property="library_no"/>
			<result column="lisbn" property="isbn"/>
			<result column="luser_id" property="user_id"/>
			<result column="ltitle" property="title"/>
			<result column="lauthor" property="author"/>
			<result column="lpublisher" property="publisher"/>
			<result column="lend_date" property="end_date"/>
			<result column="lstar" property="star"/>
		</collection>
	</resultMap>
<!-- SELECT *,
		isbn no,
		(SELECT AVG(grade) FROM RECOMMEND WHERE isbn=no) grade_avg 
		FROM read_book WHERE EXISTS(SELECT * FROM RECOMMEND WHERE isbn=no)
		order by grade_avg desc
		limit 0,20 -->
	<select id="selectByUserRecommendAll" resultMap="ReadBookMap">
		select *, 
		lisbn, ifnull(lstar,0) lstar 
		from read_book 
		r left join (select isbn lisbn, truncate(avg(star),1) lstar 
					from library group by isbn) l 
		on r.isbn=l.lisbn 
		order by lstar desc 
		limit 0,20

	</select>
	
	<select id="selectByAppAll" resultMap="ReadBookMap">
		select *, 
		lisbn, ifnull(lstar,0) lstar 
		from read_book 
		r left join (select isbn lisbn, truncate(avg(star),1) lstar, count(*) app_count
					from library group by isbn) l 
		on r.isbn=l.lisbn 
		order by app_count desc 
		limit 0,20
	</select>
	<!-- select *, 
		lisbn, ifnull(lstar,0) 
		lstar from read_book 
		r left join (select isbn lisbn, truncate(avg(star),1) 
		lstar from library group by isbn) 
		where r.isbn in 
		(select isbn from (select isbn, avg(star) 
		c from library group by isbn 
		order by c desc limit 0,21))
		l on r.isbn=l.lisbn order by lstar desc-->
	<select id="selectAll" resultType="ReadBook">
		SELECT *FROM read_book 
	</select>
	
	<select id="selectStar" resultType="Library" parameterType="String">
		SELECT l.isbn, 
		ifnull(max(avg_star),0) 
		star FROM read_book r left join 
		(select isbn, truncate(avg(star),1) 
		avg_star from library group by isbn) 
		l on r.isbn=l.isbn WHERE r.isbn=#{isbn} 
	</select>
	
	<insert id="insertOne" parameterType="ReadBook">
		INSERT INTO ReadBook
			(isbn,title,author,img,publisher,pubdate,descriptinon,link,discount,star) VALUES 
			(#(isbn),#{title},#{author},#{img},#{publisher},#{pubdate},#{descriptinon},#{link},#{discount},#{star}) 
	</insert>
	
	<update id="updateOne" parameterType="ReadBook">
		UPDATE ReadBook SET
			isbn=#{isbn},
			title=#{title},
			author=#{author},
			img=#{img},
			descriptinon=#{descriptinon},
			link=#{link},
			discount=#{discount},
			star=#{star}
			WHERE ReadBook=#{ReadBook}
	</update>
	
	
	

</mapper>