<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acorn.dadockProject.mapper.UserMapper">

	<select id="selectOne" resultType="User">
		SELECT * FROM USER WHERE user_id=#{userId}
	</select>

	<select id="selectPageAll" resultType="User">
		SELECT * FROM USER
			ORDER BY user_id 
				LIMIT #{startRow},#{pageSize}
	</select>
	
	<select id="selectPageAllCount" resultType="int">
		SELECT COUNT(*) FROM USER 
	</select>
	
	<select id="selectPwOne" resultType="User">
		SELECT * FROM USER WHERE user_id=#{userId} AND pw=#{pw}
	</select>
	
	<update id="updateOne" parameterType="User">
		UPDATE USER SET
			pw=#{pw},
			name=#{name},
			email=#{email},
			phone=#{phone},
			address=#{address},
			address_detail=#{address_detail}
			WHERE user_id=#{user_id}
	</update>
	
	<insert id="registerOne" parameterType="User">
		INSERT INTO USER
			(user_id,name,pw,phone,email,address,address_detail) VALUES
			(#{user_id},#{name},#{pw},#{phone},#{email},#{address},#{address_detail})
	</insert>
	
	<delete id="deleteOne" parameterType="String">
		DELETE FROM USER WHERE user_id=#{userId}
	</delete>
	
	<select id="selectSearchList"  resultType="User">
		SELECT * FROM USER WHERE <!-- delete_yn='N' -->
		<choose>
			<when test="type !=null and type.equals('user_id')">
				 user_id LIKE CONCAT ('%',#{keyword}, '%')
			</when>
			<when test="type !=null and type.equals('name')">
				 name LIKE CONCAT ('%',#{keyword}, '%')
			</when>
			<when test="type !=null and type.equals('email')">
				 email LIKE CONCAT ('%',#{keyword}, '%')
			</when>
		</choose>
	</select>
</mapper>



























































