<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybaits.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acorn.dadockProject.mapper.UserMapper">
	

	<select id="selectAll" resultType="UserDto">
		SELETCT * FROM USER
	</select>
	
	
	<insert id="insertOne" parameterType="UserDto">
		INSERT INTO User
			(user_id,pw,name,signup,email,phone,address) VALUES 
			(#(user_id).#{pw},#{name},#{signup},#{email},#{phone},#{address}) 
	</insert>
	
	<update id="updateOne" parameterType="UserDto">
		UPDATE USER SET
			pw=#{pw},
			name=#{name},
			signup=#{signup},
			email=#{email},
			phone=#{phone},
			address=#{address}
			WHERE user_id=#{user_id}
	</update>
	
	
	<delete id="deleteOne" parameterMap="String">
		DELETE FROM USER WHERE user_id=#{userId}
	</delete>

</mapper>