<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.acorn.dadockProject.mapper.WishList">
	<!-- 찜에 추가 -->
	<insert id="addWishlist"> 
		insert into wishList(user_id,market_board_no,jjim) 
		values  (#{user_id},#{market_board_no},#{jjim})
	</insert>
	<!-- 찜에서 삭제 -->
	<delete id="deleteWhishList">
		delete from wishList where wishlist_no=#{wishlist_no} 
	</delete>
	<!-- 찜 리스트 가져오기.. -->
	<select id="selectWishList" resultType="WishList">
		select w.wishlist_no,w.user_id,mb.book_title,mb.price
		from wishList w left join market_board mb on w.market_board_no=mb.market_board_no
		where user_id=#{user_id}
	</select>
	<select id="checkWishList" resultType="WishList">
		select *  from wishList
		where user_id=#{user_id} and market_board_no=#{market_board_no}
	</select>
	<!-- 업데이트도 있어야하나 -->
</mapper>